h1 {
    margin-left: 50%;
    padding-top: 10% ;
}
h2 {
    color: rgb(59, 101, 155);
    background-color: rgb(50, 174, 227);

   }
#textBlue {
    color: rgb(92, 155, 238);
    font-weight: bold;
}
td.DarkBlue {
    color: rgb(59, 101, 155);
    font-weight: bold;
}
td.BabyBlue {
    color:rgb(50, 174, 227);
}
input{
    margin-left: 1%;
}
#submitButton{
    margin-left: 5%;
}
